@import (reference, less) '~less/common/variables/rem-sizes.less';

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 50px;
    font-size: @rem-size-12;
    align-items: center;
    justify-content: center;
}
