@import (less) '~less/common/variables/fonts.less';
@import (less) '~less/common/variables/rem-sizes.less';

.header {
	position: relative;
	display: flex;
	margin: 0 auto;
	padding: @rem-size-10 0;
	max-width: 1000px;
	height: 80px;
	text-align: center;
	justify-content: center;
	align-items: center;

	&__logo {
		position: absolute;
		left: 0;
		padding: 0 @rem-size-10;
		width: 80px;
	}

	&__name {
		font-size: @rem-size-18;
		font-family: @playfair-display-italic;
	}
}
