.button(@addFundsBtnBg: #ffcf00) {
    padding: 10px 0 10px 32px;
    width: 304px;
    height: 72px;
    outline: none;
    border: none;
    background: @addFundsBtnBg;
    text-align: left;
    letter-spacing: .2px;
    font-variant: small-caps;
    font-size: 17px;
    font-family: @CirceRegular;
    size: 32px;
    position: relative;

    &:after {
        content: '';
        background: url(/static/images/land/menu-add-funds-button-arrow.png) no-repeat center;
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 70px;
        top: 0;
        right: 27px;
    }

    &:hover {
        background: lighten(@addFundsBtnBg, 5%);
    }

    &:active {
        background: darken(@addFundsBtnBg, 5%);
    }
}

.inset-button(
    @buttonBorderTop: #b52626,
    @buttonBorderBottom: #8f0d0d,
    @buttonBorderSide: #8f0d0d,
    @buttonInset: #f57373,
    @buttonGradientTop: #d34747,
    @buttonGradientBottom: #b52626,
    @buttonTextColor: #fff,
    @buttonTextShadow: #8f0d0d,
    @padding: 5px 20px 6px,
    @fontSize: 16px
) {
    display: inline-block;
    position: relative;
    outline: none;
    z-index: 1;
    padding: @padding;
    border: 1px solid;
    border-color: @buttonBorderTop @buttonBorderSide @buttonBorderBottom;
    font-weight: 500;
    color: @buttonTextColor;
    font-size: @fontSize;
    background-image: linear-gradient(180deg, @buttonGradientTop, @buttonGradientBottom);
    text-shadow: 0 1px 0 @buttonTextShadow;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .48);
    cursor: pointer;
    border-radius: 2px;
    text-transform: none;
    user-select: none;

    &:hover {
        color: lighten(@buttonTextColor, 5%);
        background-image: linear-gradient(180deg, lighten(@buttonGradientTop, 5%), lighten(@buttonGradientBottom, 5%));
    }

    &:active {
        color: darken(@buttonTextColor, 5%);
        background-image: linear-gradient(180deg, darken(@buttonGradientTop, 5%), darken(@buttonGradientBottom, 5%));
    }
}
