@import (reference, less) '~less/common/variables/fonts.less';
@import (reference, less) '~less/common/variables/rem-sizes.less';

.Menu {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: @rem-size-10 10px;
    max-width: 1000px;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;

    &__logo {
        position: absolute;
        left: 0;
        padding: 0 @rem-size-10;
        width: 7px;
    }

    &__name {
        font-size: @rem-size-64;
        font-family: @houschka-pro-demi-bold;
    }
}
