@white: #fff;

//http://paletton.com/#uid=72P0u0klqllaOvXgaqCqJg3w9aI
@brown-base: #aa6c38;
@brown-extra-light: #ffd0a9;
@brown-light: #d49a69;
@brown: #804515;
@brown-dark: #552700;

@red-base: #aa3838;
@red-extra-light: #ffa9a9;
@red-light: #d46969;
@red: #801515;
@red-dark: #500;

@green: #54aa54;

// Цвета для красной кнопки.
@btnRedBorderTop: #b52626;
@btnRedBorderBottom: #8f0d0d;
@btnRedBorderSide: @btnRedBorderBottom;
@btnRedInset: #f57373;
@btnRedGradientTop: #d34747;
@btnRedGradientBottom: #b52626;
@btnRedTextColor: darken(@btnRedBorderSide, 20%);
@btnRedTextShadow: @btnRedInset;

// Цвета для зеленой кнопки.
@btnGreenBorderTop: #161;
@btnGreenBorderBottom: #040;
@btnGreenBorderSide: @btnGreenBorderBottom;
@btnGreenInset: @green;
@btnGreenGradientTop: @green;
@btnGreenGradientBottom: #2d882d;
@btnGreenTextColor: darken(@btnGreenBorderSide, 20%);
@btnGreenTextShadow: @btnGreenInset;
