@font-face {
    font-family: 'NotoSans';
    src: url('/static/fonts/NotoSans.eot');
    src:
        local('NotoSans'),
        local('Noto Sans'),
        url('/static/fonts/NotoSans.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/NotoSans.woff2') format('woff2'),
        url('/static/fonts/NotoSans.woff') format('woff'),
        url('/static/fonts/NotoSans.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@noto-sans: 'NotoSans', sans-serif;

/* unused */
@font-face {
    font-family: 'HouschkaProDemiBold';
    src: url('/static/fonts/HouschkaPro-DemiBold.eot');
    src:
        local('HouschkaProDemiBold'),
        local('Houschka Pro Demi Bold'),
        url('/static/fonts/HouschkaPro-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/HouschkaPro-DemiBold.woff2') format('woff2'),
        url('/static/fonts/HouschkaPro-DemiBold.woff') format('woff'),
        url('/static/fonts/HouschkaPro-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@houschka-pro-demi-bold: 'HouschkaProDemiBold', sans-serif;

@font-face {
    font-family: 'HouschkaProMedium';
    src: url('/static/fonts/HouschkaPro-Medium.eot');
    src:
        local('HouschkaProMedium'),
        local('Houschka Pro Medium'),
        url('/static/fonts/HouschkaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/HouschkaPro-Medium.woff2') format('woff2'),
        url('/static/fonts/HouschkaPro-Medium.woff') format('woff'),
        url('/static/fonts/HouschkaPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@houschka-pro-medium: 'HouschkaProMedium', sans-serif;

@font-face {
    font-family: 'PlayfairDisplayItalic';
    src: url('/static/fonts/PlayfairDisplay-Italic.eot');
    src:
        local('PlayfairDisplayItalic'),
        local('Playfair Display Italic'),
        url('/static/fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('/static/fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('/static/fonts/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@playfair-display-italic: 'PlayfairDisplayItalic', sans-serif;
